body {
  padding-top: 50px;
}
.camera-control {
  padding: 40px 15px;
  text-align: center;
}

.btn-fixed-size {
    width: 50px !important;
    height: 45px !important;
    text-align: center;
}

img.resize {
    max-width: 80%;
    max-size:  80%;
}

img.padded {
    padding: 10px;
}

.equal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

[class*="col-"] {
  padding-top: 5px;
  padding-bottom: 5px;
/*   background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2); */ 
}

.panel {
    height:     100%;
    min-height: 100%;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.panel-heading {
    text-align: left;
}

.panel-primary {
	border-color: #031E2F;
}

.panel-primary > .panel-heading {
	border-color: #031E2F;
	background-color: #031E2F;
}

.logo {
    padding: 10px;
    height: 50px;
    top: 0px;
    margin-top: -15px;
}

.navbar-inverse {
	background: #031E2F;
}
