html, body {
    position: relative;
    height: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* Vertically centers the content on the page*/
.vertical-center {
    min-height: 100%;
    display: flex;
    align-items: center;
}

.btn {
    height:75px;
    width: 200px;
}

#system-state {
    width: 300px;
    margin-top: 3%;
    margin-bottom: 50%;
}

#countdown {
    font-size: 200px;
}

#step-progress-bar {
    margin-bottom: 10%;
}

.circle-inactive {
    height: 70px;
    width: 70px;
    font-size: 40px;
    color: white;
    background-color:#ccc;
    border-radius: 50%;
    display: inline-block;
}
  
.circle-in-progress {
    height: 70px;
    width: 70px;
    font-size: 40px;
    color: white;
    background-color:#5bc0de;
    border-radius: 50%;
    display: inline-block;
    
}
  
.circle-completed {
    height: 70px;
    width: 70px;
    font-size: 40px;
    color: white;
    background-color: #5cb85c;
    border-radius: 50%;
    display: inline-block;
    
}
  
.circle-failed {
    height: 70px;
    width: 70px;
    font-size: 40px;
    color: white;
    background-color:#dc3545;
    border-radius: 50%;
    display: inline-block;
}

.bar-icons {
    line-height: 70px;
}

#loader {
    display: inline-block;
    border: 16px solid #DBDBDB;
    border-radius: 50%; /* Creates a circle */
    border-top: 16px solid #2ECC71;
    width: 200px;
    height: 200px;
    animation: spin 1s linear infinite; /* Creates a 1 sec infinite animation; same speed from start to end */
}
  
/* Animation code for the loader */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#retake-button {
    margin-bottom: 10%;
}

#save-button {
    margin-bottom: 10%;
}

#access-code {
    height: 50px;
    width: 200px;
    border: 3px solid black;
}