body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.btn-fixed-width {
    width: 40px !important;
    text-align: center;
}

img.resize {
    max-width: 50%;
    max-size:  50%;
}
