html, body {
    position: relative;
    height: 100%;
    background-color: #000000;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* Vertically centers the content on the page*/
.vertical-center {
    min-height: 100%;
    display: flex;
    align-items: center;
}

/* #preview-video {
    width: 1280px;
    height: 960px;
}

#preview-image {
    width: 1280px;
    height: 960px;
} */